
    @import "./fondos.css";
    @import "../css/componentes/c-aliados.css";
    @import "../css/componentes/c-equipo.css";
    @import "../css/componentes/c-estacion-paz.css";
    @import "../css/componentes/c-footer.css";
    @import "../css/componentes/c-formulario-contacto.css";
    @import "../css/componentes/c-formulario-suscribete.css";
    @import "../css/componentes/c-mentores.css";
    @import "../css/componentes/c-menu-principal.css";
    @import "../css/componentes/c-metodologia.css";
    @import "../css/componentes/c-objetivos.css";
    @import "../css/componentes/c-portada.css";
    @import "../css/componentes/c-prensa.css";
    @import "../css/componentes/c-programa.css";
    @import "../css/componentes/c-quienes-somos.css";
    @import "../css/componentes/c-resultados.css";
    @import "../css/componentes/c-tabla-informacion.css";

    @import "../css/componentes/c-testimonial.css";


:root{
    --rojo-vc: #f05351;
    --azul-vc: #16415e;
    --azul-claro-vc: #174665;
    --amarillo-vc: #ffd25c;
    --amarillo-transparente:rgba(255, 210, 92,0.8);


    --gris-azulado: #7490a3;

    --gris-claro: #7d7f82;
    --gris-oscuro: #454955;

    --claro01: #fff;
    --claro01-grisasio:#f6f6f6;
}







button:focus {
    outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #174665;
  font-family: "Oxygen", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
.c-estacion-item__1{
    width: 3px;
    animation: forwards 2s movimiento_de_linea linear;
    margin-top: 0px;
    margin-bottom: 20px;
}
.c-seccion-item__2{
    width: 3px;
    animation: forwards 2s movimiento_de_linea linear;
    margin-top: 0px;
    margin-bottom: 20px;
    height: 110px;
}



.raya-despues{
    overflow: hidden;
}

.raya-despues::after{
content: "";
display: block;
border-left:3px solid var(--rojo-vc);
margin-top: 10px;
position: relative;
left: 50%;
height: 30px;
}

.raya-despues--grande::after{
    
    border-left:3px solid var(--rojo-vc);
    margin-top: 20px;
   
    height: 90px;
}

.u-padding-grande{
    padding: 2rem;
}

@media screen and (min-width: 768px){
    .u-padding-grande{
        padding: 5rem;
    }
}