.u-bg-azul{
    background-color:var(--azul-vc) ;
}

.u-bg-azul-claro{
    background-color:var(--azul-claro-vc);
}

.u-bg-patron-ladrillo{

    background-image: url(../images/hero-background.jpg);
    
    background-size: cover;

}

.u-bg-puntitos{
    background-image: url(../images/fondo-proyecto.png);
    background-size: cover;
}


.u-bg-gris{
    background-color: var(--claro01-grisasio)
}

.u-fondo-foto{

    background-image: url(../images/fotos/_MG_2545.jpg);

    background-size:cover; 

}

.u-fondo-foto-hombre{
    background-image: url(../images/fotos/_MG_2730.jpg);
    background-size:cover;
}

.u-fondo-foto-leonardo{
    background-image: url(../images/fotos/_MG_2794.jpg);
    background-size: cover;
}