.c-formulario-suscribete{
    padding-bottom: 7rem;
    padding-top: 7rem;
}

.c-formulario-suscribete__titulo{
    text-align: center;
    font-size: 30px;
}

.c-formulario-parrafo{
    text-align: center;
    color: var(--gris-claro);
    font-size: 17px;
    margin-bottom: 0px;
}

.c-formulario__email{
    border: 3px solid var(--azul-claro-vc);
    padding: 15px ;
    margin-bottom: 20px;
    border-radius: 2px;
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
    

}

.c-formulario__boton-suscribete{
    padding: 15px 0px 15px 0px;
    border: solid 2px var(--rojo-vc);
    background-color: var(--rojo-vc);
    color: white;
    border-radius: 3px;
    font-size: 20px;
    width: 100%;
}
 


.c-formulario__input-boton{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.c-formulario-parrafo__newsletter{
    color: var(--rojo-vc)
}
.c-formulario__boton-suscribete:hover{
    background: var(--azul-claro-vc);
    border-color:var(--azul-claro-vc);
    transition: all 0.15s;
    cursor: pointer;
    

}

/* tablet */
@media (min-width: 768px){
    .c-formulario__boton-suscribete:hover{
        background: var(--azul-claro-vc);
        border-color:var(--azul-claro-vc);
        transition: all 0.15s;
        cursor: pointer;
        

    }





}






/* pc */
@media (min-width: 992px){

    .c-formulario__input-boton{
      
        
        flex-direction:row;
    }
      
       
        
    
        
    

    .c-formulario__boton-suscribete {
       
     
       
        
       
      
        width: 14%;
       
        margin-left: 7px;
        cursor: pointer;
    }
   

    .c-formulario__boton-suscribete:hover{
        background: var(--azul-claro-vc);
        border-color:var(--azul-claro-vc);
        transition: all 0.15s;
        cursor: pointer;
        

    }

    .c-formulario__email{
       
            
            border-radius: 5px;
           
            width: 59%;
           
       
    }
   

   
    
    .c-formulario-suscribete__titulo{
     
        font-size: 50px;
    }
    
    



}




