
.c-formulario{
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.c-formulario__linea{
    height: 50px;
    width: 3px;

}
.c-formulario__titulo{
 padding-left: 16px;
 font-weight: 800;
 margin-bottom: 30px;
 border-left: 3px solid var(--rojo-vc);
 font-size: 30px;
   
}
.c-formulario__parrafo{
    font-size: 20px;
    line-height: 1.7;
    color: var(--gris-claro)
}
.u-bg-blanco-grisasio{
    background-color: var(--claro01-grisasio);
   
}
.c-formulario a{
    color: var(--rojo-vc);
}
.c-formulario__input{
    width: 100%;
    border: none;
    border-bottom: 3px solid;
    border-color: var(--azul-claro-vc);
    padding: 5px;
    margin-bottom: 45px;
    background-color: transparent;

}
.c-formulario__boton-enviar{
    -webkit-appearance: none;
    border-bottom: solid var(--amarillo-vc) 2px;
    background-color: transparent;
    border-radius: 0px;
    color: var(--rojo-vc);
   
    border-left: none;
    border-top: none;
    border-right: none;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.15s;
}
.c-formulario__boton-enviar:hover{
    color: var(--azul-claro-vc)

}

@media (min-width: 768px){

}

@media (min-width: 992px){
.c-formulario__titulo{
  font-size: 50px;
       }
    }
