
.c-mentores{
    font-family: "Source Sans Pro", sans-serif;
    padding-top: 5rem;
    padding-bottom: 5rem;

}

.c-mentores__titulo{
    font-size: 30px;
    margin-left: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-weight: 800;
    border-left: solid 3px var(--rojo-vc);

}

.c-mentores__parrafos em,
.c-mentores__parrafos strong,
.c-mentores__titulo span{

    color: var(--rojo-vc) !important;
    font-style: normal;

}
.c-mentores__span-rojo{
    color: var(--rojo-vc);
}

.c-mentores__parrafos{
    color: var(--azul-vc);
    font-size: 20px;
    line-height: 1.7;

}











































/* tablet */

@media (min-width: 768px){
    





}






/* pc */



@media (min-width: 992px){

    
    
    
}


