.c-menu-principal{
    font-size: 10px;
    background-color: var(--claro01-grisasio);
    box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 3px;
    padding: 0;

    display: flex;
    justify-content: space-between;
    position:fixed;
    width: 100%;
    z-index: 999;
    padding-bottom:10;
    transition: all 0.3s;
}
.c-menu-principal__header{
    height: 150px;
    transition: all 0.3s;
}
.c-menu-principal__header.small{
    height: 90px;
    transition: all 0.3s;

}
.c-menu-principal__logo{
    position: relative;
    top: -70px;
    

}
.c-menu-principal__logo.small{
    width: 70%;
   
}
.c-menu-principal__hamburguesa{
    background: none;
    border: none;
}
.c-menu-principal__hamburguesa__item{
    border-bottom: 7px solid var(--rojo-vc);
    margin-bottom: 10px;
    padding: 0 28px;
}

.c-menu-principal__nav__ul{
    text-align: center;
}
.c-menu-principal__nav__link{
    font-size: 1.6em;
    background-color: var(--claro01-grisasio);
    color: var(--azul-vc);
    display: block;
    font-weight: bold;
    text-transform: uppercase; 
    padding: 15px 0;
}
.c-menu-principal__nav__link:hover{
    color: var(--rojo-vc) !important;
}
.c-menu-principal__nav__item:hover{
    text-decoration: unset;
    border-bottom: 1px solid var(--rojo-vc);
    transition-duration: 0.2s;
}
.c-menu-principal a:focus{
    color: var(--rojo-vc);
}
.c-menu-principal__nav__item{
    border: solid 1px var(--claro01-grisasio);
}
  

@media (min-width: 768px) {
    .c-menu-principal__nav{
        position: unset;
    }
    .c-menu-principal__nav__link{
        background: none;         
    }
   
    .c-menu-principal__nav__item:hover{        
        border-bottom: none;       
    }
    
  }


