.c-metodologia{
    font-family: "Source Sans Pro", sans-serif;
    padding-bottom: 7rem;
    padding-top: 7rem;
}
.c-metodologia__titulo{
    font-size:30px;
    text-align: center;
    
}
.c-metodologia__titulo span{
    color:var(--rojo-vc)

}
.c-metodologia__parrafo{
    text-align: center;
    color: var(--gris-claro);
    font-size: 15px;
    margin-bottom: 40px;
}
.c-metodologia__parrafo a{
    text-decoration: none;
    color: red;
}

.c-metodologia__sub-titulo{
    font-size: 26px;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}



.c-metodologia__sub-titulo span{
    color:var(--rojo-vc);
}
.c-metodologia__imagenes{
    width: 30%;
  

}
.c-metodologia__div{
    text-align: center;
}
.c-metodologia__link{
    border-bottom: solid 3px var(--amarillo-vc);
    color: var(--rojo-vc);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.15s;
    
    

}

.c-metodologia__link:hover{
    color:var(--azul-vc);
    text-decoration: none;
    

}

.c-metodologia__div-link{
    text-align: center;

}






/* tablet */
@media (min-width: 768px){

    .c-metodologia__titulo{
       
     display:flex;
     flex-direction: column;

    }
    .c-metodologia__sub-titulo{
        
        
        display: block;
        flex-direction: initial;
     
    }
   
  
   
   
   

}




/* pc */


@media (min-width: 992px){
    .c-metodologia__titulo{
        font-size:50px;
        
        
    }
    
 
    

}