.c-resultados{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.c-resultados-titulo{
    font-size: 30px;
    border-left: solid 3px var(--rojo-vc);
    margin: 5px;
    padding-left: 10px;

}

.c-resultados__h3{

    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 23px;
    
    

}

.c-resultados__h3 span{
 color: var(--rojo-vc); 
}
.c-resultados__div-numeros{
    font-size:50px;
    text-align: center;
}



/* tablet */
@media (min-width: 768px){

    .c-resultados__div-numeros {
        font-size: 70px;
       
    }

    .c-resultados__h3 {
      
     
      
        font-size: 22px;
    }
}


/* pc */


@media (min-width: 992px){

    .c-resultados-titulo {
        font-size: 50px;
     
       
        margin-left: 31px;
    }
  

}